<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>

	{asset? 'main.js'}

	<link rel="stylesheet" href="{$basePath}/css/style.css">
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{* Ссылка для входа *}
	<ul class="navig">
		<li><a n:href="Home:">Статьи</a></li>
		{if $user->isLoggedIn()}
			<li><a n:href="Sign:out">Выйти</a></li>
		{else}
			<li><a n:href="Sign:in">Войти</a></li>
		{/if}
	</ul>

	{include content}
</body>
</html>
